
         <!-- /intro -->
<section id="bio">
  <div class="container centered">
      <div class="col-lg-12">
          <h2 class="grow">Who am I?</h2>
      </div> 
      <% if @user.id == @logged_in_id %>
      <div class="editable"> 
      <% else %>
      <div>
      <% end %>
          <p class="personal">El MPC es un programa exclusivo compuesto por líderes innovadores.<BR>Afrontamos los retos de la economía creativa gracias a nuestra diversidad y capacidad de compromiso a largo plazo.<BR>Nuestro modelo de aprendizaje, único en la UFM, facilita la creación de TIGO INNOVATION TEAM.</p>
      </div>
    </div>
  </div>
  </section> 

  <script>
  var editor = new MediumEditor('.editable');
  editor.subscribe('editableInput', function (event, editable) {
    // Do some work
   });</script>

