/* ========================================================================
   Custom styles
   ========================================================================== */

// Overall
$primary-color: #b31916; // red
$secondary-color: #142e9e; // blue
$black: #333;
$grey: #999;
$background-grey: #eef2f3;

body, html { height: 100%; width: 100%; font-size: 18px; }

@media (max-width: 767px) {
  body, html { height: 100%; width: 100%; font-size: 14px; }
}

body {
  background-color: #fff;
  letter-spacing: -0.02rem;
  line-height: 1.33;
  color: $black;
  font-family: 'Geo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

// Spacing

section {
  padding: 5rem 0 0 0;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.line {
  height: 1px;
  background-color: $secondary-color;
  margin: 0 5rem 0 5rem;
}

// Titles and Derivatives
h1, h2, h3, h4, h5 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'ITC Avant Garde Gothic Pro', 'Proxima Nova', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 3rem;
  margin: 0.5rem -2.3rem 1rem -2.3rem;
  text-align: center;
  line-height: 3.5rem;
  @media (max-width: 1199px) {
    font-size: 2rem;  
    line-height: 2.5rem;
    }
}

#create {
  text-align: left;
  color: $black;
  letter-spacing: -0.1rem;
  margin: 0rem 1rem 1rem 0rem;
  line-height: 3rem;
}

h2 {
  font-weight: 100;
  color: $black;
  font-size: 2.3rem;
  margin: 0 0 1.3rem 0;
  text-transform: none; 
  letter-spacing: -0.05rem;
  text-align: center;
  display: block;
  padding-bottom: 15px;
}


h3 {
  font-family: 'Geo', sans-serif;
  font-weight: 800;
  color: #898989;
  font-size: 1rem;
  margin: 1rem 0 1.3rem 0;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3rem;
}

h4 {
  font-family: 'ITC Avant Garde Gothic Pro', 'Proxima Nova', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0rem;
  margin: 2rem 1rem 0.5rem 1rem;
  text-align: center;
  line-height: 1.5rem;
}

#log {
  color: $black;
  font-size: 0.8rem;
  margin: 0.2rem 0.7rem 0.3rem 0.7rem;
}

h5 {
  color: $secondary-color;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1rem 0 1.5rem 0;
  letter-spacing: 0rem;
  text-transform: none;
}


// Paragraph & Typographic
p {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  color: $black;
  margin: 0 0 1rem 0;
  letter-spacing: 0.01rem;
}

#vision {
  font-size: 1.5rem;
  padding: 4rem 1rem 0rem 0rem;
  margin-bottom: 0.5rem;
  border-top: 0.3rem solid $black;
  width: 8rem;
}

.body {
  font-size: 1.3rem;
  padding: 0 2.2rem 0 2.2rem;
  letter-spacing: 0rem;
}

.rol {
  font-weight: 100;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
  letter-spacing: 0rem;
}

// Links
a {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  color: $black;
  margin: 0 0 0 0;
  letter-spacing: 0.01rem;
  word-wrap: break-word;
}

a.white {
  color: #fff;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

a:hover, a:focus {
  outline: 0;
  opacity: 0.8;
  text-decoration: none;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

// BUTTONS

.button {
  background: $primary-color;
  border: solid 1px transparent;
  border-radius: 0rem;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  white-space: nowrap;
}

.button-primary {
  background: white;
  width: 7rem;
  margin-top: 1rem;
  padding: 5px 10px 0px 10px;
  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}

.button-primary:hover {
  background: $primary-color;
  opacity: 0.8;
  #log {
    color: white;  
  } 
}

.button-secondary {
  background: $secondary-color;
  width: 10rem;
  margin-top: 0rem;
  padding: 0px 10px 0px 10px;
  #log {
    color: white;  
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
  } 
  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}

.button-secondary:hover {
  opacity: 0.9;
  #log {
    text-decoration: underline;   
  } 
}

.row {
  margin: 0px;
}

.portrait {
  margin-bottom: 3rem;
}

.teammate {
  height: 180px;
  width: 180px;   
}

label {
  display: inline-block;
  max-width: 100%;
  margin: 0rem 0.5rem 1rem 0rem;
  font-weight: 700;
}

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 0rem;
  margin-bottom: 1rem;
}